@font-face {
    font-family: 'Gulf Display';
    src: url('GulfsDisplay-Normal.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  



body {
    height: 100vw;
    background: linear-gradient(
        to bottom,
        rgb(238, 144, 214) 0%,
        rgb(238, 144, 214) 30%,
        rgb(233, 241, 114) 30%,
        rgb(233, 241, 114) 100%
    );
    
}



#Inicial {
    width: 30%;
    position: absolute;
    left: 37%;
}

h1 {
    color: blue;
    text-align: center;
    font-size: 6pc;
    font-family: 'Gulf Display';
}

#primera {
    position: absolute ;
    width: 30pc;
    height: 40pc;
    border: 1px solid #000000;
    border-radius: 45%;
    left: 38% ;
    top: 45%;
}