@font-face {
    font-family: 'Gulf Display';
    src: url('GulfsDisplay-Normal.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  



body {
    height: 500vw;
    background: linear-gradient(
        to bottom,
        rgb(248, 175, 230) 0%,
        rgb(221, 188, 213) 9%,
        rgba(223, 223, 223, 0.966) 1%,
        rgb(245, 230, 97) 10%,
        rgb(241, 247, 159) 25%,
        rgb(255, 255, 255) 27%,
        rgb(255, 255, 255) 35%,
        rgb(240, 87, 87) 36%
    );
    
}



#Inicial {
    width: 30%;
    position: absolute;
    left: 30%;
    top: 10%;
}

#secciones {
    margin-right: 10px;
    text-align: right;
    font-size: 2pc;
    font-family: 'Gulf Display';
    word-spacing: 50px
}

a {
    color: black;
}

a:hover {
    color: rgb(82, 82, 221)
}

#first {
    position: absolute;
    color: blue;    
    text-align: center;
    font-size: 6pc;
    font-family: 'Gulf Display';
    
}

#primera {
    position: absolute ;
    width: 33pc;
    height: 48pc;
    border: 1px solid #000000;
    border-radius: 39%;
    left: 37% ;
    top: 55%;
}

#segundo {
    position: absolute;
    width: 5pc;
    left: 30%;
    top: 56%;

}

#segundo2 {
    position: absolute;
    width: 3pc;
    left: 25%;
    top: 34%;
}

#segundo3 {
    position: absolute;
    width: 3pc;
    left: 66%;
    top: 70%;
}



#tercera {
    position: absolute ;
    width: 22pc;
    height: 28pc;
    border: 1px solid #000000;
    border-radius: 10%;
    left: 78% ;
    top: 23%;
}

#cuarta {
    position: absolute ;
    width: 26pc;
    border: 1px solid #000000;
    height: 32pc;
    border-radius: 10%;
    right: 80%;
    top: 66%;
}

#quinta {
    position: absolute;
    width: 7pc;
    left: 34%;
    top: 80%;

}

#quinta2 {
    position: absolute;
    width: 10pc;
    left: 73% ;
    top: 57%;
    
}

#sexta {
    position: absolute;
    width: 11pc;
    left: 70% ;
    top: 77%;
    animation: rotacion 5s infinite linear;
}

@keyframes rotacion {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
}

#septima {
    position: absolute;
    width: 5pc;
    left: 2%;
    top: 140%;
    
}

#septima2 {
    position: absolute;
    width: 5pc;
    left: 93%;
    top: 140%;
}

#septima3 {
    position: absolute;
    width: 5pc;
    left: 2%;
    top: 225%;
}

#septima4 {
    position: absolute;
    width: 5pc;
    left: 93%;
    top: 225%;
}


#primero {
    position: absolute;
    text-align: center;
    left: 8%;
    top: 139%;
    font-size: 2pc;
}

#primero2 {
    position: absolute;
    text-align: center;
    left: 62%;
    top: 139%;
    font-size: 2pc;
}


#octava {
    border: 2px solid rgb(0, 0, 0);
    background-color:  rgb(252, 129, 129);
    position: absolute;
    width: 35pc;
    height: 40pc;
    left: 8%;
    top: 155%;
    transform: rotateZ(355deg);
}

#octava2 {
    border: 2px solid rgb(0, 0, 0);
    background-color:  rgb(252, 129, 129);
    position: absolute;
    width: 35pc;
    height: 40pc;
    left: 9%;
    top: 153%;
    transform: rotateZ(355deg);
}


#octava3 {
    border: 13px solid white;
    position: absolute;
    width: 33pc;
    height: 40pc;
    left: 10%;
    top: 149%;
    transform: rotateZ(355deg);
}

#contenido {
    width: 50%;
    position: absolute;
    left: 45%;
    top: 135%;
}

#second {
    position: relative;
    color: blue;
    text-align: left;
    font-size: 10pc;
    font-family: 'Gulf Display';
}

#palabras {
    position: absolute;
    text-align: left;
    font-size: 25px;
    top: 78%;
    font-family: "Anybody", sans-serif;
}

#uno {
    position: absolute;
    text-align: left;
    font-family: 'Gulf Display';
    font-size: 3pc;
    top: 104%;
}

#novena {
    position: absolute;
    height: 11pc;
    left: 50%;
    top: 104%;
}

#novena2 {
    position: absolute;
    height: 11pc;
    left: 70%;
    top: 104%;
}


#decima {
    position: absolute;
    height: 30pc;
    width: 20pc;
    border: 1px solid black;
    border-radius: 60px;
    top: 253%;
    right: 85%;
}

#decima2 {
    position: absolute;
    height: 30pc;
    width: 22pc;
    border: 1px solid black;
    border-radius: 60px;
    top: 253%;
    left: 16%;
}

#decima3 {
    position: absolute;
    height: 30pc;
    width: 40pc;
    border: 1px solid black;
    border-radius: 60px;
    top: 253%;
    left: 36%;
}

#decima4 {
    position: absolute;
    height: 30pc;
    width: 22pc;
    border: 1px solid black;
    border-radius: 60px;
    top: 253%;
    left: 72%;
}

#decima5 {
    position: absolute;
    height: 30pc;
    width: 9pc;
    border: 1px solid black;
    border-radius: 60px;
    top: 253%;
    left: 92%;
}

#decima6 {
    position: absolute;
    height: 30pc;
    width: 40pc;
    border: 1px solid black;
    border-radius: 60px;
    top: 308%;
    right: 66%;
}

#decima7 {
    position: absolute;
    height: 30pc;
    width: 22pc;
    border: 1px solid black;
    border-radius: 60px;
    top: 308%;
    left: 35%;
}

#decima8 {
    position: absolute;
    height: 30pc;
    width: 40pc;
    border: 1px solid black;
    border-radius: 60px;
    top: 308%;
    left: 55%;
}

#decima9 {
    position: absolute;
    height: 30pc;
    width: 10pc;
    border: 1px solid black;
    border-radius: 60px;
    top: 308%;
    left: 91%;
}

#one {
    position: absolute;
    width: 47pc;
    height: 21pc;
    right: 59%;
    top: 360%;
    background-color: pink;
    border: 2px solid black;
}

#paquete {
    position: relative;
    color: rgb(238, 98, 98);
    text-align: left;
    font-size: 4pc;
    font-family: 'Gulf Display';
    left: 5%;
}

#two {
    position: absolute;
    width: 47pc;
    height: 21pc;
    right: 59%;
    top: 390%;
    background-color: pink;
    border: 2px solid black;
}

#horas {
    position: relative;
    color: rgb(33, 47, 172);
    text-align: left;
    font-size: 3pc;
    font-family: 'Gulf Display';
    left: 5%;
}

#pregunta5 {
    position: absolute;
    color:  rgb(238, 98, 98);
    height: 1pc;
    border-radius: 60px; 
    left: 60%;  
    top: 20%;
}

#horaas {
    position: absolute;
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    width: 5pc;
    border-radius: 60%;
    text-align: center;
    font-size: 2pc;
    font-family: 'Gulf Display';
    left: 80%;  
    top: 17%;
}


#tres {
    position: absolute;
    border: 1px solid black;
    border-radius: 100%;
    background-color: rgb(250, 250, 105);
    width: 650px;
    height: 20px;
    top: 50%;
    left: 10%;
}

#once {
    position: absolute;
    height: 6pc;
    width: 10pc;
    border-radius: 60px; 
    left: 10%;  
    bottom: 30%;
    transform: translateX(0);
    animation: mover-izquierda 2s linear infinite;
}

@keyframes mover-izquierda {
    10% {
      transform: translateX(0); /*  Posición inicial */
    }
    100% {
      transform: translateX(300%); /* Posición final (izquierda) */
    }
  }

#cuatro {
    position: absolute;
    width: 25pc;
    height: 39.1pc;
    right: 38%;
    top: 360%;
    background-color: rgb(255, 253, 144);
    border: 2px solid black;
}

#compromiso {
    position: relative;
    color:  rgb(238, 98, 98);
    text-align: center;
    font-size: 3pc;
    font-family: 'Gulf Display';
    top: 10%;
}

#pregunta {
    position: absolute;
    color:  rgb(238, 98, 98);
    height: 1pc;
    border-radius: 60px; 
    right: 1%;  
    top: 30%;
}

#quinto {
    position: absolute;
    border: 1px solid black;
    border-radius: 400%;
    background-color: rgb(255, 121, 121);
    width: 20pc;
    height: 8pc;
    top: 50%;
    left: 10%;
}

#doce {
    position: absolute;
    background-color: black;
    border: 4px solid #000000;
    height: 6pc;
    border-radius: 60px; 
    left: 19%;  
    bottom: 31%;
}

#doce2 {
    position: absolute;
    background-color: #000000;
    border: 3px solid #000000;
    height: 5pc;
    border-radius: 60px; 
    left: 21%;  
    bottom: 33%;
    animation: rotacion 2s  linear infinite;
}

@keyframes rotacion {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
}

#no {
    position: relative;
    color:  rgb(238, 98, 98);
    text-align: center;
    font-size: 3pc;
    font-family: 'Gulf Display';
    top: 40%;
}

#sexto {
    position: absolute;
    width: 25pc;
    height: 39.1pc;
    right: 16%;
    top: 360%;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

#ceremonia {
    position: relative;
    color:  rgb(33, 47, 172);
    text-align: center;
    font-size: 3pc;
    font-family: 'Gulf Display';
    top: 10%;
}

#pregunta2 {
    position: absolute;
    color:  rgb(238, 98, 98);
    height: 1pc;
    border-radius: 60px; 
    left: 90%;  
    top: 30%;
}

#septimo {
    position: absolute;
    border: 1px solid black;
    border-radius: 400%;
    background-color: rgb(237, 140, 250);
    width: 20pc;
    height: 8pc;
    top: 50%;
    left: 10%;
}

#no2 {
    position: relative;
    color:  rgb(33, 47, 172);
    text-align: center;
    font-size: 3pc;
    font-family: 'Gulf Display';
    top: 40%;
}

#octavo {
    position: absolute;
    width: 19pc;
    height: 39.1pc;
    left: 83%;
    top: 360%;
    background-color: rgb(61, 76, 211);
    border: 2px solid black;
}

#digital {
    position: relative;
    color:  rgb(255, 255, 255);
    text-align: center;
    font-size: 3pc;
    font-family: 'Gulf Display';
    top: 10%;
}

#pregunta3 {
    position: absolute;
    color:  rgb(238, 98, 98);
    height: 1pc;
    border-radius: 60px; 
    right: 5%;  
    top: 30%;
}

#trece{
    position: absolute;
    height: 10pc;
    border-radius: 60px; 
    left: 21%;  
    bottom: 33%;
    animation: rotacion 2s  linear infinite;
}

@keyframes rotacion {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
}

#no3 {
    position: relative;
    color:  rgb(255, 255, 255);
    text-align: center;
    font-size: 3pc;
    font-family: 'Gulf Display';
    top: 40%;
}

#pregunta4 {
    position: absolute;
    color:  rgb(238, 98, 98);
    height: 1pc;
    border-radius: 60px; 
    right: 5%;  
    top: 90%;
}