@font-face {
    font-family: 'Gulf Display';
    src: url('GulfsDisplay-Normal.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  



body {
    height: 200vw;
    background: linear-gradient(
        to bottom,
        rgb(248, 175, 230) 0%,
        rgb(221, 188, 213) 22%,
        rgba(223, 223, 223, 0.966) 1%,
        rgb(245, 230, 97) 23%,
        rgb(241, 247, 159) 63%,
        rgb(255, 255, 255) 66%,
        rgb(255, 255, 255) 200%
    );
    
}



#Inicial {
    width: 30%;
    position: absolute;
    left: 30%;
    top: 10%;
}

#secciones {
    margin-right: 10px;
    text-align: right;
    font-size: 2pc;
    font-family: 'Gulf Display';
    word-spacing: 50px
}

a {
    color: black;
}

a:hover {
    color: rgb(82, 82, 221)
}

#first {
    position: absolute;
    color: blue;    
    text-align: center;
    font-size: 6pc;
    font-family: 'Gulf Display';
    
}

#primera {
    position: absolute ;
    width: 33pc;
    height: 48pc;
    border: 1px solid #000000;
    border-radius: 39%;
    left: 37% ;
    top: 55%;
}

#segundo {
    position: absolute;
    width: 5pc;
    left: 30%;
    top: 56%;

}

#segundo2 {
    position: absolute;
    width: 3pc;
    left: 25%;
    top: 34%;
}

#segundo3 {
    position: absolute;
    width: 3pc;
    left: 66%;
    top: 70%;
}



#tercera {
    position: absolute ;
    width: 22pc;
    height: 28pc;
    border: 1px solid #000000;
    border-radius: 10%;
    left: 78% ;
    top: 23%;
}

#cuarta {
    position: absolute ;
    width: 26pc;
    border: 1px solid #000000;
    height: 32pc;
    border-radius: 10%;
    right: 80%;
    top: 66%;
}

#quinta {
    position: absolute;
    width: 7pc;
    left: 34%;
    top: 80%;

}

#quinta2 {
    position: absolute;
    width: 10pc;
    left: 73% ;
    top: 57%;
    
}

#sexta {
    position: absolute;
    width: 11pc;
    left: 70% ;
    top: 77%;
    animation: rotacion 5s infinite linear;
}

@keyframes rotacion {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
}

#septima {
    position: absolute;
    width: 5pc;
    left: 2%;
    top: 140%;
    
}

#septima2 {
    position: absolute;
    width: 5pc;
    left: 93%;
    top: 140%;
}

#septima3 {
    position: absolute;
    width: 5pc;
    left: 2%;
    top: 225%;
}

#septima4 {
    position: absolute;
    width: 5pc;
    left: 93%;
    top: 225%;
}


#primero {
    position: absolute;
    text-align: center;
    left: 8%;
    top: 139%;
    font-size: 2pc;
}

#primero2 {
    position: absolute;
    text-align: center;
    left: 62%;
    top: 139%;
    font-size: 2pc;
}


#octava {
    border: 2px solid rgb(0, 0, 0);
    background-color:  rgb(252, 129, 129);
    position: absolute;
    width: 35pc;
    height: 40pc;
    left: 8%;
    top: 155%;
    transform: rotateZ(355deg);
}

#octava2 {
    border: 2px solid rgb(0, 0, 0);
    background-color:  rgb(252, 129, 129);
    position: absolute;
    width: 35pc;
    height: 40pc;
    left: 9%;
    top: 153%;
    transform: rotateZ(355deg);
}


#octava3 {
    border: 13px solid white;
    position: absolute;
    width: 33pc;
    height: 40pc;
    left: 10%;
    top: 149%;
    transform: rotateZ(355deg);
}

#contenido {
    width: 50%;
    position: absolute;
    left: 45%;
    top: 135%;
}

#second {
    position: relative;
    color: blue;
    text-align: left;
    font-size: 10pc;
    font-family: 'Gulf Display';
}

#palabras {
    position: absolute;
    text-align: left;
    font-size: 25px;
    top: 78%;
    font-family: "Anybody", sans-serif;
}

#uno {
    position: absolute;
    text-align: left;
    font-family: 'Gulf Display';
    font-size: 3pc;
    top: 104%;
}

#novena {
    position: absolute;
    height: 11pc;
    left: 50%;
    top: 104%;
}

#novena2 {
    position: absolute;
    height: 11pc;
    left: 70%;
    top: 104%;
}